<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>352308311451-nmjfpsbpq5d05av7pjuk8o2aq3js19sr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.352308311451-nmjfpsbpq5d05av7pjuk8o2aq3js19sr</string>
	<key>API_KEY</key>
	<string>AIzaSyDRfVMtWNnR5PbMf8eRhYwfiL1kcE5V20s</string>
	<key>GCM_SENDER_ID</key>
	<string>352308311451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yasithSaparamadu.Saparamadu-D-D-G-A-Y-M--Cobsccomp171p-011</string>
	<key>PROJECT_ID</key>
	<string>nibmconnect-ed8a3</string>
	<key>STORAGE_BUCKET</key>
	<string>nibmconnect-ed8a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352308311451:ios:28f505fbd94fb809</string>
	<key>DATABASE_URL</key>
	<string>https://nibmconnect-ed8a3.firebaseio.com</string>
</dict>
</plist>